body {
    background-image: url("../images/background.png");
    color: white;
    text-align: left;
    font-family: cursive;
}

.cover-heading{
    margin-top: 40px;
    font-size: 80px;
}

#game-start{
    margin-top: 70px;
    font-size: 40px;
}

#countdown {
    font-size: 26px;
    color:rgb(201, 12, 12);
}

#game-done {
    font-size: 40px;
}

.lead2 {
    font-size: 30px;
    color: rgb(206, 171, 102);
}

.quest {
    font-size: 26px;
    color: rgb(206, 171, 102);
}

.text-mysize {
    font-size: 20px;
}
.optradio{
    margin-right: 5px;
}